            <div class="footer">
                <footer>
                    <p>Emre Soykan © <%= new Date().getFullYear() %></p>
                </footer>
            </div>
        
        </div>

    </main>



</body>
</html>