

            <%-include("partials/header.ejs")%>

            <div class="main">

                <form class="list" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <div class="button">
                        <button type="submit" name="list">+</button>
                        <button type="read" name="list">Ok</button>
                    </div>
                </form>

            <%-include("partials/footer.ejs")%>
